<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brainworker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.BeginnerActivity"></activity>
        <activity android:name=".view.AkashicActivity" />
        <activity android:name=".view.bosses.PrimalActivity" />
        <activity android:name=".view.bosses.AovActivity" />
        <activity android:name=".view.bosses.HHActivity" />
        <activity android:name=".view.RaidActivity" />
        <activity android:name=".view.BroochActivity" />
        <activity android:name=".view.CalculatorActivity" />
        <activity android:name=".view.HelpActivity" />
        <activity android:name=".view.BroochsCalcActivity" />
        <activity android:name=".view.characterlist.ChiiActivity" />
        <activity android:name=".view.characterlist.IrisActivity" />
        <activity android:name=".view.characterlist.JinActivity" />
        <activity android:name=".view.characterlist.ErwinActivity" />
        <activity android:name=".view.characterlist.StellaActivity" />
        <activity android:name=".view.characterlist.LilyActivity" />
        <activity android:name=".view.Main2Activity" />
        <activity android:name=".view.characterlist.HaruActivity" />
        <activity android:name=".view.Characters" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>